.login_page .login_title {
    text-align: center;
    text-transform: capitalize;
    font-size: 48px;
    color: green;
    font-weight: 500;
    margin-bottom: 30px;
}

.login_page .login_form {
    background: rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
    max-width: 350px;
    border-radius: 5px;
}

.login_page .login_form .form-group:not(:last-child) {
    margin-bottom: 20px;
}

.login_page .login_form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.login_page .login_form .form-group input {
    width: 100%;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    transition: .25s;
}

.login_page .login_form .form-group input:focus, .login_page .login_form .form-group input:focus-visible {
    border: 2px solid rgb(125, 159, 251);
}

.login_page .login_form .form-group span {
    color: rgba(0, 0, 0, 0.678);
}

.login_page .login_form .form-group a {
    text-decoration: none;
}

.login_page .login_form .form-group button {
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: rgb(54, 129, 79);
    border-radius: 5px;
}

.login_page .sign-in-link {
    text-align: center;
    margin-top: 20px;
}

.login_page .sign-in-link a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: rgb(54, 129, 79);
    margin-top: 5px;
}