.music {
    width: 100%;
    max-width: 700px;
}

.music .music-topic {
    display: flex;
    font-size: 2em;
    color: blueviolet;
    cursor: pointer;
}

.music .music-listItems {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.music .music-listItems .flex-4 {
    flex: 0 0 25%;
    max-width: 100%;
}

/* Style Card music */

.music-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}

.music-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.music-card .card-content {
    margin-top: 20px;
}

.music-card .card-content span {
    display: block;
}

.music-card .card-content {
    text-align: left !important;
}

.music-card .card-content .music-name {
    text-transform: capitalize;
}

.music-card .card-content .music-author {
    color: rgba(0, 0, 0, 0.6);
}